<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.movie.dao.CinemahallMapper">
  <resultMap id="BaseResultMap" type="com.yc.movie.bean.Cinemahall">
    <id column="hall_id" jdbcType="INTEGER" property="hallId" />
    <result column="cinema_id" jdbcType="INTEGER" property="cinemaId" />
    <result column="hall_name" jdbcType="VARCHAR" property="hallName" />
    <result column="hall_rows" jdbcType="INTEGER" property="hallRows" />
    <result column="hall_columns" jdbcType="INTEGER" property="hallColumns" />
    <result column="hall_type" jdbcType="VARCHAR" property="hallType" />
  </resultMap>
  <resultMap id="ResultMapByStep" type="com.yc.movie.bean.Cinemahall">
    <id column="hall_id" jdbcType="INTEGER" property="hallId" />
    <result column="cinema_id" jdbcType="INTEGER" property="cinemaId" />
    <result column="hall_name" jdbcType="VARCHAR" property="hallName" />
    <result column="hall_rows" jdbcType="INTEGER" property="hallRows" />
    <result column="hall_columns" jdbcType="INTEGER" property="hallColumns" />
    <result column="hall_type" jdbcType="VARCHAR" property="hallType" />
     <association property="cinema" 
	 		select="com.yc.movie.dao.CinemaMapper.selectByPrimaryKey"
	 		column="cinema_id">
 	</association>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    hall_id, cinema_id, hall_name, hall_rows, hall_columns, hall_type
  </sql>
  <select id="selectByExample" parameterType="com.yc.movie.bean.CinemahallExample" resultMap="ResultMapByStep">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cinemahall
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapByStep">
    select 
    <include refid="Base_Column_List" />
    from cinemahall
    where hall_id = #{hallId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cinemahall
    where hall_id = #{hallId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.yc.movie.bean.CinemahallExample">
    delete from cinemahall
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yc.movie.bean.Cinemahall">
    insert into cinemahall (hall_id, cinema_id, hall_name, 
      hall_rows, hall_columns, hall_type
      )
    values (#{hallId,jdbcType=INTEGER}, #{cinemaId,jdbcType=INTEGER}, #{hallName,jdbcType=VARCHAR}, 
      #{hallRows,jdbcType=INTEGER}, #{hallColumns,jdbcType=INTEGER}, #{hallType,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yc.movie.bean.Cinemahall">
    insert into cinemahall
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="hallId != null">
        hall_id,
      </if>
      <if test="cinemaId != null">
        cinema_id,
      </if>
      <if test="hallName != null">
        hall_name,
      </if>
      <if test="hallRows != null">
        hall_rows,
      </if>
      <if test="hallColumns != null">
        hall_columns,
      </if>
      <if test="hallType != null">
        hall_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="hallId != null">
        #{hallId,jdbcType=INTEGER},
      </if>
      <if test="cinemaId != null">
        #{cinemaId,jdbcType=INTEGER},
      </if>
      <if test="hallName != null">
        #{hallName,jdbcType=VARCHAR},
      </if>
      <if test="hallRows != null">
        #{hallRows,jdbcType=INTEGER},
      </if>
      <if test="hallColumns != null">
        #{hallColumns,jdbcType=INTEGER},
      </if>
      <if test="hallType != null">
        #{hallType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yc.movie.bean.CinemahallExample" resultType="java.lang.Long">
    select count(*) from cinemahall
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update cinemahall
    <set>
      <if test="record.hallId != null">
        hall_id = #{record.hallId,jdbcType=INTEGER},
      </if>
      <if test="record.cinemaId != null">
        cinema_id = #{record.cinemaId,jdbcType=INTEGER},
      </if>
      <if test="record.hallName != null">
        hall_name = #{record.hallName,jdbcType=VARCHAR},
      </if>
      <if test="record.hallRows != null">
        hall_rows = #{record.hallRows,jdbcType=INTEGER},
      </if>
      <if test="record.hallColumns != null">
        hall_columns = #{record.hallColumns,jdbcType=INTEGER},
      </if>
      <if test="record.hallType != null">
        hall_type = #{record.hallType,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update cinemahall
    set hall_id = #{record.hallId,jdbcType=INTEGER},
      cinema_id = #{record.cinemaId,jdbcType=INTEGER},
      hall_name = #{record.hallName,jdbcType=VARCHAR},
      hall_rows = #{record.hallRows,jdbcType=INTEGER},
      hall_columns = #{record.hallColumns,jdbcType=INTEGER},
      hall_type = #{record.hallType,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yc.movie.bean.Cinemahall">
    update cinemahall
    <set>
      <if test="cinemaId != null">
        cinema_id = #{cinemaId,jdbcType=INTEGER},
      </if>
      <if test="hallName != null">
        hall_name = #{hallName,jdbcType=VARCHAR},
      </if>
      <if test="hallRows != null">
        hall_rows = #{hallRows,jdbcType=INTEGER},
      </if>
      <if test="hallColumns != null">
        hall_columns = #{hallColumns,jdbcType=INTEGER},
      </if>
      <if test="hallType != null">
        hall_type = #{hallType,jdbcType=VARCHAR},
      </if>
    </set>
    where hall_id = #{hallId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yc.movie.bean.Cinemahall">
    update cinemahall
    set cinema_id = #{cinemaId,jdbcType=INTEGER},
      hall_name = #{hallName,jdbcType=VARCHAR},
      hall_rows = #{hallRows,jdbcType=INTEGER},
      hall_columns = #{hallColumns,jdbcType=INTEGER},
      hall_type = #{hallType,jdbcType=VARCHAR}
    where hall_id = #{hallId,jdbcType=INTEGER}
  </update>
</mapper>