<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.movie.dao.SearchMapper">
  <resultMap id="BaseResultMap" type="com.yc.movie.bean.Search">
    <id column="search_id" jdbcType="INTEGER" property="searchId" />
    <result column="search_content" jdbcType="VARCHAR" property="searchContent" />
    <result column="search_num" jdbcType="INTEGER" property="searchNum" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    search_id, search_content, search_num
  </sql>
  <select id="selectByExample" parameterType="com.yc.movie.bean.SearchExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from search
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from search
    where search_id = #{searchId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from search
    where search_id = #{searchId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.yc.movie.bean.SearchExample">
    delete from search
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yc.movie.bean.Search">
    insert into search (search_id, search_content, search_num
      )
    values (#{searchId,jdbcType=INTEGER}, #{searchContent,jdbcType=VARCHAR}, #{searchNum,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yc.movie.bean.Search">
    insert into search
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="searchId != null">
        search_id,
      </if>
      <if test="searchContent != null">
        search_content,
      </if>
      <if test="searchNum != null">
        search_num,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="searchId != null">
        #{searchId,jdbcType=INTEGER},
      </if>
      <if test="searchContent != null">
        #{searchContent,jdbcType=VARCHAR},
      </if>
      <if test="searchNum != null">
        #{searchNum,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yc.movie.bean.SearchExample" resultType="java.lang.Long">
    select count(*) from search
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update search
    <set>
      <if test="record.searchId != null">
        search_id = #{record.searchId,jdbcType=INTEGER},
      </if>
      <if test="record.searchContent != null">
        search_content = #{record.searchContent,jdbcType=VARCHAR},
      </if>
      <if test="record.searchNum != null">
        search_num = #{record.searchNum,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update search
    set search_id = #{record.searchId,jdbcType=INTEGER},
      search_content = #{record.searchContent,jdbcType=VARCHAR},
      search_num = #{record.searchNum,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yc.movie.bean.Search">
    update search
    <set>
      <if test="searchContent != null">
        search_content = #{searchContent,jdbcType=VARCHAR},
      </if>
      <if test="searchNum != null">
        search_num = #{searchNum,jdbcType=INTEGER},
      </if>
    </set>
    where search_id = #{searchId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yc.movie.bean.Search">
    update search
    set search_content = #{searchContent,jdbcType=VARCHAR},
      search_num = #{searchNum,jdbcType=INTEGER}
    where search_id = #{searchId,jdbcType=INTEGER}
  </update>
</mapper>